

host_objects = {
host_1 = {
  name = "terraform_test_host_4"
  value = "4.4.4.2"
  description = "testing terraform change 4"
},

host_2 = {
  name = "terraform_test_host_5"
  value = "5.5.4.2"
  description = "testing terraform change 5"
},

host_3 = {
  name = "terraform_test_host_6"
  value = "6.6.4.2"
  description = "testing terraform change 6"
}
}


